.form {
    max-width: 600px;
    margin: 0 auto;
    > label {
        display: block;
        margin-bottom: 5px;
    }
    margin-bottom: 20px;
}
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
}
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background-color: #0056b3;
    }
}
