.navigation {
    text-align: center;
    &__top {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 1000px) {
            gap: 0;
        }
        @media (max-width: 400px) {
            justify-content: end;
        }
        > h2 {
            flex: 1 1 auto;
            text-align: start;
            @media (max-width: 500px) {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            @media (max-width: 400px) {
                order: 2;
            }
        }
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__item {
        > img {
            max-width: 100%;
        }
    }
}
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: #0056b3;
    }
    margin-right: 10px;
}
