.snackbar {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
    z-index: 999;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}
